@keyframes shimmer {
    0% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
 }

.content{
    padding: 12px 32px;
}
.topSegment .overview{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topSegment .overview .Title{
    font-size: 20px;
    font-weight: 800;
}

.overview #timespan{
    padding: 0 5px;
    font-size: 16px;
}

.topSegment .payoutDetails{
    margin-top: 24px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
.topSegment .payoutDetails>div{
    height: 250px;
}
.topSegment .payoutDetails .card{
    position: relative;
    background-color: #146eb4;
    border-radius: 8px;
    color: white;
}

.topSegment .payoutDetails .cardHeader{
    margin: 16px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 300;
}

.topSegment .payoutDetails .Desc{
    font-size: 13px;
}
.topSegment .payoutDetails .Amount{
    font-size: 32px;
    font-weight: 800;
}
.topSegment .payoutDetails .card .cardContent{
    position: relative;
    height: 48px;
    margin: 10px 16px;
    border-radius: 6px;
    overflow: hidden;
    font-size: 40px;
    font-weight: 600;
}
.topSegment .payoutDetails .card .cardFooter{
    background: #0E4F82;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px 24px;
    color: #f2f2f2;
    font-size: 14px;
}
.card .cardFooter .footerShimmer{
    position: relative;
    height: 20px;
    min-width: 64px;
    border-radius: 4px;
    /* background:  rgba(255, 255, 255, 0.06); */
    overflow: hidden;
}
.shimmer{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3),  rgba(255, 255, 255, 0.06));
    animation: shimmer 2s infinite linear;
}
.topSegment .payoutDetails .cardWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.topSegment .payoutDetails .cardWrap .payoutCard{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomSegment .transHeader{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.toggleButtons{
    display: flex;
}
.toggleButtons .pill{
    padding: 6px 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 14px;
    text-align: center;
    background-color: #e6e6e6;
}
.toggleButtons .active{
    background-color: #146EB4;
    color: white;
}

.bottomSegment .info{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #cecece;
    margin-top: 8px;
}

.bottomSegment .transTable{
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.transTable .tableNav{
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}
.bottomSegment .transTable .searchBar{
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    min-width: 200px;
    display: flex;
}
.bottomSegment .transTable .searchBar>img{
    width: 14px;
    height:14px;
    margin-right: 10px;
}

.bottomSegment .transTable .btn-sort{
    position: relative;
    cursor: pointer;
    background-color: white;
    color: #4d4d4d;
    font-size: 16px;
    padding: 6px 12px;
    margin-right: 6px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottomSegment .transTable .btn-sort>img{
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.btn-sort .sortModal{
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    width: 230px;
    /* height: 180px; */
    padding: 12px 8px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.btn-sort .sortModal>label{
    padding: 4px 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.btn-sort .sortModal label input{
    width: 12px;
    height: 12px;
    margin: 2px 8px 0 8px;
    cursor: pointer;
}
.bottomSegment .transTable .tableHeader{
    background-color: #f2f2f2;
    padding: 10px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #4d4d4d;
}

.bottomSegment .transTable .tableBody{
    color: #4d4d4d;
    font-size: 16px;
    text-align: center;
    padding: 32px;
    font-weight: 500;
}

.bottomSegment .transTable .pendingTable{
    font-size: 12px;
    color: #4d4d4d;
}

.bottomSegment .transTable .pendingRow, .bottomSegment .transTable .eligibleRow{
    display: flex;
    padding: 14px 12px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    /* font-weight: 600; */
    border-bottom: 1px solid #cecece;
    font-size: 14px;
}

.bottomSegment .transTable .pendingRow > p{
    min-width: 85px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: start;
}
.bottomSegment .transTable .pendingRow>p:nth-child(1){
    min-width: 75px;
    color: #146eb4;
}
.bottomSegment .transTable .pendingRow>p:nth-last-child(1){
    justify-content: flex-end;
    
}
.bottomSegment .transTable .eligibleRow > p{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: start;
}
.bottomSegment .transTable .eligibleRow>p:nth-child(1){
    width: 75px;
    color: #146eb4;
}
.bottomSegment .transTable .eligibleRow>p:nth-last-child(1){
    justify-content: flex-end;
    
}
.bottomSegment .buttonRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto 0 auto;
    width: 70%;
}

.bottomSegment .buttonRow .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    margin: 0 6px;
    border-radius: 4px;
    border: 1px solid #cecece;
    font-size: 14px;
    line-height: 20px;
}
.bottomSegment .buttonRow>.left{
    padding: 6px 12px 6px 4px;
}
.left>img{
    margin-right: 4px;
}
.bottomSegment .buttonRow>.right{
    padding: 6px 4px 6px 12px;
}
.right>img{
    margin-left: 4px;
}
.bottomSegment .buttonRow .action>img{
    width: 14px;
    height: 14px;
    margin-top: 2px;
}
.bottomSegment .buttonRow div{
    padding: 6px 8px;
    border-radius: 4px;
}
.bottomSegment .buttonRow div:nth-child(4){
    background-color: #146EB4;
    color: white;
}