.sidebar{
    color: white;
    width: 224px;
    background: #1E2640;
    height: 100vh;
    padding: 16px 10px;
    position: sticky;
    top: 0;
}
.sideHead{
    display: flex;
    align-items: center;
    width: 192px;
    justify-content: space-between;
    margin-bottom: 12px;
}
.sidebar .sideTop{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 55px - 32px);
}
.sideTop .sideTitle{
    flex: 0.8;
    font-size: 15px;
}
.sideTop .sideTable{
    /* margin: 12px; */
    width: 208px;
    border-radius: 4px;
}
.sideTop .sideTable .sideTableContent{
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    width: 208px;
    align-items: center;
    cursor: pointer;
}
.sideTop .sideTable :hover{
    background: #353C53;
}
.sidebar .sideBot{
    height: 54px;
    width: 192px;
    border-radius: 4px;
    background: #353C53;
    display: flex;
    align-items: center;
   padding: 6px;
}

.sidebar .sideBot .walletBG{
    background-color :#494F64;
    padding: 6px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.sidebar .sideBot:nth-child(1)
{
    margin-left: 10px;
}

.sidebar .sideBot .walletInfo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}